<br>
<style type="text/css">
  .linktext a:link{
    text-decoration: none;
  }
  .linktext a:hover{
    color: red;
  }
  
</style>
<% if user_signed_in? %>
<table class="table table-striped table-hover table-bordered shadow-lg p-3 mb-5 bg-body rounded">
  <thead class="table-dark">
    <tr style="text-align: center;">
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Twitter</th>
    </tr>
  </thead>

  <tbody>
    <% @friends.each do |friend| %>
    <% if friend.user == current_user %>
        <tr style="text-align: center;">
          <td class="linktext"><%= link_to friend.first_name + ' ' + friend.last_name, friend %></td>
          <td><%= friend.email %></td>
          <td><%= friend.phone %></td>
          <td><%= friend.twitter %></td>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<div style="text-align: center;"><%= link_to 'New Friend', new_friend_path, class:"btn btn-secondary" %></div>
<% else %>
<h1>Hello </h1>
This is my first Ruby on Rails app

<% end %>

